# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\STUDY\leetcode-study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/../../../../:\STUDY\leetcode-study\.out/
